.header{
    float: left;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.list li{
    display: inline;
    text-transform: uppercase;
    padding: 0em 3em 0em 3em;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.hero-section{
    float: left;
    width: 100%;
    padding: 3em 0em 3em 0em;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('../images/intro-bg.jpg');    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.hero-section h2{
    font-size: 140px;
    font-family: 'Rochester',cursive;
    text-transform: capitalize;
    font-size: 140px;
    font-weight: 400;
}

.hero-section p{
    font-size: 24px;
    font-family: 'Open sans', Sans-serif;
    font-weight: 400;
}

.special-section{
    float: left;
    width: 100%;
    padding: 4em 3em 1em 3em; 
}

.special-section h3{
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    /* text-decoration:underline rgb(125, 36, 36); */
}

.sub-special{
    float: left;
    width: 33.3%;
    text-align: center;
}

.sub-special h4{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.sub-special p{
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: grey;
    padding: 0em 5em 0em 5em;
    text-align: center;
}

.story-section{
    float: left;
    width: 100%;
    padding: 5em 0em 5em 0em;
}

.story-section-right{
    float: right;
    width: 50%;
}

.story-section-left{
    float: left;
    width: 50%;
}
.story-section-left img{
    width: 100%;
}

.story-section-right h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    font-weight: 400;
    padding-right: 4em;

}

.story-section-right p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: grey;
    text-align: start;
    padding: 0em 15em 0em 15em;
    line-height: 1.5;
  }


.menu-section{
    float: left;
    width: 60%;
    text-align: center;
    margin: 2% 20% 2% 20%;
}

.menu-section h2{
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: 400;
    text-decoration: underline;
}

.gallery-section{
    float: left;
    width: 100%;
}

.gallery-section img{
    float: left;
    width: 25%;
    padding: 4em 0em 6em 0em;
}

.chef-section{
    float: left;
    width: 80%;
    padding-bottom: 6em;
    margin: 0% 10% 0% 10%;
}

.chef-section-left{
    float: left;
    width: 45%;
}

.chef-section-left h2{
    text-transform: uppercase;
    text-decoration: underline;
    margin-left: 10%;
    padding-bottom: 0.8em;
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: 400;
}

.chef-section-left p{
    text-align: start;
    margin: 0% 20% 0% 10%;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: grey;
}

.chef-section-right{
    float: right;
    width: 45%;
}


.contact-section{
    float: left;
    width: 100%;
    background-color: RGB(38, 38, 38);
}

.sub-contact-section{
    float: left;
    width: 33.3%;
    text-decoration: underline;
    color: grey;
    padding: 5em 0em 5em 0em;
}

.sub-contact-section h3{
    text-align: center;
    color: grey;
    text-transform: uppercase;
    padding-bottom: 1em;
}

.sub-contact-section p{
    text-align: center;
    color: grey;
}


.message-section{
    float: left;
    width: 100%;
    background-color: RGB(38, 38, 38);
    padding: 2em 0em 1em 0em;
}

.message-section h3{
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.message-form{
    float: left;
    width: 100%;
    background-color: RGB(38, 38, 38);
}

.message-form-section{
    float: left;
    width: 50%;
    margin-left: 23%;
    padding: 1em 4em 1em 2em;
    background-color: RGB(38, 38, 38);
}


#name{
    float: inline-start;
    width: 30%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    color: white;
    background-color: RGBA(255, 255, 255, 0.2);
    border-style: none;
    padding: 0.5em 7em 0.5em 1em;
}

#email{
    float: inline-end;
    width: 30%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    color: white;
    background-color: RGBA(255, 255, 255, 0.2);
    border-style: none;
    padding: 0.5em 8em 0.5em 1em;
}

#textarea{
    float: left;
    width: 99.5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    text-transform: capitalize;
    color: white;
    background-color: RGBA(255, 255, 255, 0.2);
    margin-top: 1em;
    padding-bottom: 4em;
    border-style: none;
}

#button{
    float: left;
    width: 20%;
    text-transform: uppercase;
    background-color: RGB(38, 38, 38);
    border-style:solid;
    border-color: grey;
    color: grey;
    padding: 1em 1em 1em 1em;
    margin: 2em 0em 0em 20em;
}

.copyrights-section{
    float: left;
    width: 100%;
    background-color:  black;
    color: rgb(144, 138, 138);
}

.copyrights-section p{
    padding: 2em 0em 2em 10em;
    text-align: left;

}

.pic{
    width: 75%;
}